---
import Navbar from '../components/Navbar.svelte';
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>YouthUNITE - Empowering Youth to Lead Change</title>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	</head>
	<body>
		<Navbar client:only="svelte" />
		<slot />
	</body>
</html>
