---
import { getServerUser, getTokenFromCookie } from '$lib/server/auth';
import Navbar from '../components/Navbar.svelte';
import '../styles/global.css'
import { Toaster } from 'svelte-sonner';
const token = getTokenFromCookie(Astro.request.headers.get('cookie'));
const serverUser = await getServerUser(token);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>YouthUNITE - Empowering Youth to Lead Change</title>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	</head>
	<body>
		<Navbar serverUser={serverUser} currentPath={Astro.url.pathname} client:load />
    <Toaster client:only="svelte" />
		<slot />
	</body>
</html>
