---
import Layout from "../../layouts/Layout.astro";
import RegisterEventForm from "$lib/components/register-event-form.svelte";
---

<Layout>
  <div class="container mx-auto mt-4 px-25 py-5">
    <h1 class="text-2xl font-bold mb-4">Register an Event</h1>
    <RegisterEventForm />
  </div>
</Layout>
